*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#header{
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: white;
}

nav{
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 180px;
}

.navbar ul li{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    transition: 0.5s;
}

.navbar ul li a:hover{
    color: orange;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.content h1{
    color: black;
    font-size: 70px;
}

.content h1 span{
    color: rgb(196, 138, 30);
}

.content p{
    color: rgb(167, 167, 141);
    font-weight: 100;
}

button{
    background-color: black;
    color: white;
    width: 110px;
    height: 35px;
    text-decoration: none;
    border-radius: 10px;
    border: 1.5px solid orange;
    transition: all 0.3s ease-in-out;
    margin-top: 30px;
}

button:hover{
    background-color: rgba(240, 248, 255, 0.051);
    transform: translateY(-10px);
}

.social-media{
    padding-top:20px;
}

.social-media a{
    font-size: 35px;
    color: grey;
    align-items: center;
    padding-right: 10px;
    transition: 0.3s;
    text-decoration: none;
}

.social-media a:hover{
    color: orange;
}

.content-image{
    background-image: url(/images/image1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 90px;
    margin-left: 10px;
    background-size: 450px;
    width: 1900px;
    height: 450px;
    transition: background-image 0.3s;
    transform: translateX(0);
    animation: float 6s ease-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-60px);
    }
    100%{
        transform: translateY(0);
    }
}

.image-select img{
    width: 100px;
    padding: 10px;

}

.image-select div{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
   
}

.image-select div:hover{
    transform: translateY(-10px);
}

